.header {
  height: 100vh;
  width: 100%;
  background: url(./images/headerbg.png) no-repeat;
  background-size: cover;
}

.info-section {
  height: 100vh;
  background: url(./images/infogb.png) no-repeat;
  background-size: cover;
}

.instructions-section {
  height: 100vh;
}

.info,
.about,
.instructions-wrapper {
  margin: 0 auto;
}

.about {
  height: 700px;
  width: 900px;
}

.w-header-text {
  width: 510px;
}
