.header {
  height: 950px;
  background-image: url(./images/pizzaguy.png), url(./images/ladypot.png);
  background-position: right center, left center;
  background-repeat: no-repeat, no-repeat;
  background-size: 40%, 40%;
}

.info,
.about {
  margin: 0 auto;
  width: 900px;
}

.about {
  height: 700px;
}
section {
}
