.header {
  height: 100vh;
  width: 100%;
  background: url(./images/background/headerbg.png) no-repeat;
  background-size: cover;
}

.info-section {
  height: 100vh;
  background: url(./images/background/infogb.png) no-repeat;
  background-size: cover;
}

.instructions-section {
  height: 100vh;
}

.info,
.about,
.instructions-wrapper {
  margin: 0 auto;
}

.about {
  width: 900px;
  min-height: 110vh;
}

.w-header-text {
  width: 510px;
}

.about-card-component {
  transition: all 0.2s ease-in-out;
}
.about-card-component:hover {
  transform: scale(1.05);
}

.about-card-image {
  transition: all 0.2s ease-in-out;
}
.about-card-image:hover {
  transform: scale(1.2);
}
