.search-page-wrapper {
  margin: 0 auto;
  width: 900px;
}

.results-wrapper {
  align-items: stretch;
}

.nav-btn:focus {
  border-bottom: orange 2px solid;
}

.restaurant-card-wrapper {
}

.card-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
