.search-page-wrapper {
  margin: 0 auto;
  width: 900px;
}

.results-wrapper {
  align-items: stretch;
}

.nav-btn:focus {
  border-bottom: orange 2px solid;
}

.restaurant-card-wrapper:hover {
  transform: scale(1.02);
}

.card-button {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
}
.card-button:hover {
  transform: scale(1.2);
  bottom: 5px;
  right: 5px;
}

.body-text-wrapper {
  width: 500px;
}

.res-image {
}

.loading-gif {
}
